$background-color: #dbdbd4;
$panel-header-background: #ededed;
$green-color: #009688;
$white-color: #FFFFFF;
$brown-color: #E5DDD5;
$text-color-secondary: rgba(0, 0, 0, 0.45);
$text-color-grey: rgba(0, 0, 0, 0.8);
$box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 1px 0px,
rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;